<html>
<head>
    <title>Tiger</title>
</head>
<body>
    <center>
        <div>
            <img 
                src="{{ image }}" 
                style="width:800px; height:500px; border:10px solid brown;"
                alt="{{ title }}">
        </div>
        <h1 style="font-family: Arial, Helvetica, sans-serif;font-size: 50px; color: brown">
        {{title}}
        </h1>
    </center>
    <div style="background-color:lightyellow; font-size: 40px;">
    <p>Title:<b>{{title}}</b></p>
    <p>Description:<b>{{description}}</b></p>
    <p>age:<b>{{age}}</b></p>
    <p>food:<b>{{food}}</b></p>
    <p>place:<b>{{place}}</b></p>
    <p>Donated by: <b>{{donated_by}}</b></p>
    <p>Caretaker: <b>{{care_taker}}</b></p>
    </div>
    
</body>
</html>